@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap-vue/src/index.scss';
@import '../../../node_modules/material-design-icons/iconfont/material-icons.css';

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.buttonPadrao {
    background: #F5bd73 !important;
    border-color: #F5bd73 !important;
}
.buttonPadrao:hover,
.buttonPadrao:focus,
.buttonPadrao:active,
.open > .dropdown-toggle.buttonPadrao {
    background-color: #d39647 !important;
    border-color: #d39647 !important;
    transition: 500ms !important;
}

.buttonPadrao:active,
.open > .dropdown-toggle.buttonPadrao {
    background-color: #B55726 !important;
    border-color: #B55726 !important;
    transition: 500ms !important;
}

.buttonExluir {
    background: rgb(175, 38, 38) !important;
   border-color: rgb(175, 38, 38) !important;
}
.buttonExluir:hover,
.buttonExluir:focus,
.buttonExluir:active,
.open > .dropdown-toggle.buttonExluir {
    background-color: rgb(128, 1, 1) !important;
    border-color: rgb(128, 1, 1) !important;
    transition: 500ms !important;
}

.buttonExluir:active,
.open > .dropdown-toggle.buttonPadrao {
    background-color: rgb(83, 1, 1) !important;
    border-color: rgb(83, 1, 1) !important;
    transition: 500ms !important;
}

.buttonEditar {
    background: #4f7d9d!important;
    border-color: #4f7d9d!important;
}
.buttonEditar:hover,
.buttonEditar:focus,
.buttonEditar:active,
.open > .dropdown-toggle.buttonEditar {
    background-color: #336487 !important;
    border-color: #336487 !important;
    transition: 500ms !important;
}

.buttonEditar:active,
.open > .dropdown-toggle.buttonEditar {
    background-color: #1e5074!important;
    border-color: #1e5074 !important;
    transition: 500ms !important;
}



.buttonCriarNovo {
    background: #50a981!important;
    border-color: #50a981!important;
}
.buttonCriarNovo:hover,
.buttonCriarNovo:focus,
.buttonCriarNovo:active,
.open > .dropdown-toggle.buttonCriarNovo {
    background-color: #319266 !important;
    border-color: #319266 !important;
    transition: 500ms !important;
}

.buttonCriarNovo:active,
.open > .dropdown-toggle.buttonCriarNovo {
    background-color: #1b7d50!important;
    border-color: #1b7d50 !important;
    transition: 500ms !important;
}
.titulo {
    width: 100%;
    font-size: 42pt;
}
body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-item.active .page-link{
    background-color:#0d3b5c;    
    border-color:#0d3b5c;    

}	
.tdTable {
    min-width: 180px;
    text-align: center;
}
  
  